# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/

# LaTeX build artifacts
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk
*.fls
.tectcache/

# Jupyter local install
.jupyter/
.jupyterprefix/

# OS
.DS_Store
Thumbs.db
